<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Número de Registro" %><br>
    <%= f.text_field :file_number %>
  </div>
  <div class="field">
    <%= f.label "Carrera" %><br>
    <%= select_tag "career", options_from_collection_for_select(Career.all, 'id', 'name', get_career_id_nil_safe) %>
  </div>
  <div class="field">
    <%= f.label "Lista de Entrega" %><br>
    <%= select_tag "subscriptions", options_from_collection_for_select(SubscriptionList.all, 'id', 'name',@student.subscription_lists.map { |j| j.id }), :multiple => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
