<p id="notice"><%= notice %></p>

<h1>Listado de Notificaciones</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Message</th>
      <!-- <th>Sent to</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.id %></td>
        <td><%= notification.title %></td>
        <td><%= notification.message %></td>
        <td><%# <%= notification.subscription_list.name %></td>
        <td><%= link_to 'Ver', notification %></td>
        <td><%= link_to 'Editar', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
