<p id="notice"><%= notice %></p>

<h1>Listing Subscription Lists</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscription_lists.each do |subscription_list| %>
      <tr>
        <td><%= subscription_list.id %></td>
        <td><%= subscription_list.name %></td>
        <td><%= subscription_list.description %></td>
        <td><%= link_to 'Show', subscription_list %></td>
        <td><%= link_to 'Edit', edit_subscription_list_path(subscription_list) %></td>
        <td><%= link_to 'Destroy', subscription_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscription list', new_subscription_list_path %>
