<p id="notice"><%= notice %></p>

<h1>Students for <%= @subscription_list.name %></h1>
<table class="table">
  <thead>
    <tr>
      <!-- <th>CSV ID</th> -->
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Número de Registro</th>
      <th>Carrera</th>
      <th>Usa GCM?</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @subscription_list.students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.file_number %></td>
        <td><%= get_career_data_nil_safe(student.career) %></td>
        <td><%= retrieve_regid_status(student.regid) %></td>
        <td><%= student.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Editar', edit_subscription_list_path(@subscription_list) %> |
<%= link_to 'Volver', subscription_lists_path %>
